*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../img/sfondo-pizza.png');
    background-repeat: repeat;
    background-size: cover;
    
}
.list{
    width: 50%;
    list-style: none;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: rgb(255, 196, 0);
}